# PROJECT :      Pokemon Analysis

In [1]:
# importing Pandas library
import pandas as pd

In [3]:
# loading data "pokemon.csv"
df = pd.read_csv('pokemon.csv')

In [4]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
# reading headers
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [13]:
# read a specific column ... getting head n tailrefernce
#print (df.Name)
df ['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [23]:
# read a specific row
#for index,row in df.iterrows():
  #  print (index , row['Name'])
df.loc[df['Type 1'] == 'Fire'][0:5]
#f.iloc[0:4]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False

In [19]:
# read a specific location
df.iloc[3,1]

'VenusaurMega Venusaur'

In [24]:
# looking at stat metrics
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [27]:
#sorting the data
df.sort_values(['Type 1', 'HP'], ascending  = True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,244,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,260,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,266,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False

# Making changes to data

In [28]:
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [49]:
## ADDING A COLUMN...
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] +df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
#df['Total'] = df.iloc[:,4:10].sum(axis = 1)
## dropping a column...
#df = df.drop(columns = ['Total'])

In [50]:
df.head(2)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405

In [54]:
# rearranging columns..
cols = list (df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

# saving data ( exporting to desired format)

In [61]:
## saving the modified dataset ...
df.to_csv('mod_pokemon.csv',index = False)
#df.to_excel('mod_pokemon.xlsx',index = False)
#f.to_csv('modi_pokemon.txt', index = False, sep = '\t')

# Filtering the data

In [73]:
## filtering by condition
#df.loc[ (df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]
#df.loc[ (df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]
filt_df = df.loc[ (df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

In [80]:
# resetting the index....
filt_df.reset_index(drop=True, inplace=True)
filt_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [86]:
##fitering using column names .... 
#df.loc[df['Name'].str.contains('Mega')]
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [91]:
import re
#df.loc[df['Type 1'].str.contains('Fire|Grass', regex = True)]
df.loc[df['Name'].str.contains('^pi[a-z]*', flags = re.I, regex = True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

In [79]:
# saving fitered data separately
filt_df = df.loc[ (df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
filt_df
filt_df.to_csv('filtered.csv')

# Conditional Changes

In [100]:
## changing data in columns
## changing data in the same column by setting a condition
#df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
## changing data in another column by setting a condition
df.loc[df['Type 1'] == 'Flamer', 'Legendary'] = 'True'
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,600,80,110,120,130,90,70,6,True

In [101]:
df.loc[df['Total'] > 500 , ['Generation', 'Legendary']] = 'Test value'
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Test value,Test value
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Test value,Test value
4,4,Charmander,Flamer,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Test value,Test value
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Test value,Test value
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Test value,Test value
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Test value,Test value
799,721,Volcanion,Flamer,Water,600,80,110,120,130,90,70,Test value,Test value

# Aggregate statistics ( Group by )

In [105]:
df.groupby(['Type 1']).mean()
df.groupby(['Type 1']).mean().sort

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,,
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Flamer,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286

In [108]:
df.groupby(['Type 1']).mean().sort_values('Attack', ascending = False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,,
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Flamer,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235

In [109]:
df.groupby(['Type 1']).sum()

              #  Total    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Type 1
Bug       23080  26146  3925    4897     4880     3717     4471   4256
Dark      14302  13818  2071    2740     2177     2314     2155   2361
Dragon    15180  17617  2666    3588     2764     3099     2843   2657
Electric  15994  19510  2631    3040     2917     3961     3243   3718
Fairy      7642   7024  1260    1046     1117     1335     1440    826
Fighting   9824  11244  1886    2613     1780     1434     1747   1784
Flamer    17025  23820  3635    4408     3524     4627     3755   3871
Flying     2711   1940   283     315      265      377      290    410
Ghost     15568  14066  2062    2361     2598     2539     2447   2059
Grass     24141  29480  4709    5125     4956     5425     4930   4335
Ground    11401  14000  2361    3064     2715     1807     2008   2045
Ice       10165  10403  1728    1746     1714     1861     1831   1523
Normal    31279  39365  7573    7200     5865     5470     6245   7012
Poison     7050  11176  1883    2091     1927     1692     1803   1780
Psychic   21706  27129  4026    4073     3858     5609     4918   4645
Rock      17280  19965  2876    4086     4435     2787     3321   2460
Steel     11957  13168  1761    2503     3412     1823     2177   1492
Water     33946  48211  8071    8305     8170     8379     7898   7388

In [110]:
df.groupby(['Type 1']).count()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Flamer,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

In [112]:
df ['count'] = 1
df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

# Working with Big data

In [116]:
newdf = pd.DataFrame(columns = df.columns) 
for dg in pd.read_csv('pokemon.csv', chunksize = 5):
    results = df.groupby(['Type 1']).count()
    
    newdf = pd.concat([newdf, results])

In [117]:
newdf

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
Bug,69,69,NaN,52,69,69,69,69,69,69,69,69,69,69
Dark,31,31,NaN,21,31,31,31,31,31,31,31,31,31,31
Dragon,32,32,NaN,21,32,32,32,32,32,32,32,32,32,32
Electric,44,44,NaN,17,44,44,44,44,44,44,44,44,44,44
Fairy,17,17,NaN,2,17,17,17,17,17,17,17,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Poison,28,28,NaN,13,28,28,28,28,28,28,28,28,28,28
Psychic,57,57,NaN,19,57,57,57,57,57,57,57,57,57,57
Rock,44,44,NaN,35,44,44,44,44,44,44,44,44,44,44
Steel,27,27,NaN,22,27,27,27,27,27,27,27,27,27,27
Water,112,112,NaN,53,112,112,112,112,112,112,112,112,112,112